[2018-01-24 12:19] redbaty opened #3 "Roadmap"
- [ ] Environment
- [ ] Initial XAML dynamic grid
- [ ] Return types for dialogs
- [ ] docs, lots of them
- [ ] XML package
- [ ] More demos, visual designer

[2018-01-24 12:28] redbaty opened #4 "Dynamic Grid"
**In development**

- [ ] Multi-view support
- [ ] Add details support
- [ ] Full dynamic form support
- [x] Add, edit and delete commands
- [x] Improved collection (IList<T>)
~~Dialog nesting support (?)~~ (Disabled due to material design guidelines)

[2018-01-26 00:36] edongashi opened #5 "Workaround for IsDefault and Enter issue"
The current solution to force all bindings to flush is not ideal. Sooner or later it will cause some unexpected issue. For example if I want to Cancel some dialog, the non-valid controls get a red outline.

One idea of a workaround would be flushing only the focused element, or maybe forcing an unfocus/refocus of the control.

[2018-01-26 00:40] edongashi opened #6 "DialogWindow is not focusing the form on load"

[2018-01-26 14:17] redbaty commented on #5
Wouldn't this still trigger a red outline on the focused element?

[2018-01-26 14:18] EdonGashi commented on #5
Better on the focused than the entire form :laughing:

[2018-01-26 14:20] redbaty commented on #5
@EdonGashi 😄 the only other solution would be to use the snapshots, I think at least, or we would need to update the source without validation

[2018-01-27 12:07] EdonGashi commented on #4
Add/Update options:

- via dialogs
- via dialog windows
- modify the control to display a different view?

There should be something like IDialogStrategy by which we could make the interaction abstract

[2018-02-08 00:06] redbaty opened #8 "Fix row being selected when togglebutton is clicked"

[2018-02-15 18:09] redbaty commented on #8
This has been fixed on the latest commits, since we no longer use previewmousedown

[2018-02-15 18:09] #8 closed

[2018-02-16 16:55] edongashi opened #9 "Wiki topics"
- [ ] Annotations
- [ ] Control layout
- [ ] ModelState API
- [ ] Themes and styles
- [ ] Building custom controls
- [ ] Form building internals
- [ ] XML
- [ ] Hooks and interceptors
- [ ] DynamicDataGrid
- [x] Environments
- [x] Binding syntax
- [x] Validation

[2018-02-19 03:33] hashitha opened #10 "Build errors"
I keep getting the following build errors

![image](https://user-images.githubusercontent.com/10569142/36361644-abba10a4-1568-11e8-806f-2cd337690108.png)

![image](https://user-images.githubusercontent.com/10569142/36361655-b7936056-1568-11e8-806d-e4ac5250106c.png)

[2018-02-19 03:35] hashitha opened #11 "Dynamic forms loading via JSON or xaml string"
I know you implemented dynamic loading in WpfMaterialForms but I still can't get it to build in vs 2017. Is this going to be the new project and are you planning on adding this support here as well?

[2018-02-19 11:07] redbaty commented on #10
Have you tried to uninstall and install the proxier package again? Can you check the project's target .NET framework

[2018-02-19 11:08] redbaty commented on #11
Currently, there's still the "old" XML support that the old project had, but we are looking into re-making it, to support JSON and add some missing features.

@wobbince might be interested in this.

[2018-02-19 14:55] hashitha commented on #10
I am using 4.6.1. I think package Nanoid doesn't support 4.6? I also removed proxier but where do I add it again from?

[2018-02-19 14:56] redbaty commented on #10
@hashitha Proxier you can add it back using NuGet. If it still fails try targeting 4.7.1

[2018-02-19 15:07] EdonGashi commented on #10
Is the NuGet of the main library published? It's time to split each project into their own repository with their own demo. Worrying about dependencies people may not even care about is extremely inconvenient...

[2018-02-19 15:09] hashitha commented on #10
I don't have .net 4.7.1 only 4.6.2 I will try to download it and see if I can compile it tomorrow

[2018-02-19 17:17] EdonGashi commented on #10
@hashitha Could you try building branch package-splitting? I removed a ton of unnecessary references from the demo. Each project will have their own app in their respective repository.

[2018-02-19 22:55] hashitha commented on #10
@EdonGashi excellent I can build the demo on branch package-splitting now.

[2018-02-19 23:04] hashitha opened #12 "Demo suggestion"
Just a suggestion if you ever re-write the demo you might want to have a look at MaterialDesignToolKit demo. Their new demo makes it very easy to copy the code necessary for a new user.

![image](https://user-images.githubusercontent.com/10569142/36400486-1eee84f8-160c-11e8-86c2-2238eb991688.png)

[2018-02-20 21:20] EdonGashi commented on #12
Something similar can be done, though for this library we would have to display the class or xml that creates that form instead of XAML.

[2018-02-21 17:25] EdonGashi commented on #12
Crazy idea: walk the built form definition and generate code from the fields/resources. This would allow generating code from the form.

[2018-02-21 17:27] redbaty commented on #12
@EdonGashi you mean using [this](https://msdn.microsoft.com/en-us/library/system.windows.markup.xamlwriter.save(v=vs.110).aspx)?

[2018-02-21 18:25] EdonGashi commented on #12
Writing xaml would not be possible unless we embed a small runtime for features like validation/bindings.

What I was thinking was something like this:

You have a form with 2 rows, first row contains a StringField with a Name that is an IValueProvider of PropertyBinding(Name="MyName")

The other row may contain an ActionElement with a label IValueProvider of LiteralValue("LOGIN")

From these fact

[2018-02-25 21:57] edongashi opened #13 "Password two way binding has some issues with refreshing"

[2018-02-28 02:52] redbaty opened #14 "Nuget and project splitting"
#### Tasks
- [ ] Create nuget packages (Appveyor)
- [ ] Split projects into separate repos.

[2018-02-28 02:54] redbaty commented on #10
I'll close this out since this seems to be fixed on the package-splitting branch, and since the project will be splat into multiple repos this shouldn't happen anymore

[2018-02-28 02:54] #10 closed

[2018-03-15 10:12] EdonGashi commented on #14
It gets too complicated to split each package in a repository, because all plugins depend on the core lib.

I created a structure like this: Each package will have its own folder in root. Those folders will contain its solution file, a docs folder, and a src folder. In the docs folder we document the plugins, and inside src we place the project file and an optional demo. The project files will ref

[2018-03-29 14:36] EdonGashi commented on #12
I have another idea which is much easier, any idea what to use for syntax highlighting?

[2018-03-29 18:37] EdonGashi commented on #12
Plain old xcopy did the trick 🔥

![image](https://user-images.githubusercontent.com/12145268/38106937-d794bc9c-3390-11e8-8bc5-b795590b5085.png)

![image](https://user-images.githubusercontent.com/12145268/38106952-deccacf4-3390-11e8-9073-4069d212d2d4.png)

[2018-05-21 23:22] EdonGashi opened #15 "About the project and NuGet"
Hi!
Just wanted to announce that we are still alive and are determined to continue working on this project until we have a polished, well-documented and production ready library. At the moment of speaking we are not able to put much work into this, but that will change very soon.

About the NuGet package; a public release by NuGet is not available yet, so you have to build by source until we confi

[2018-06-02 07:10] hashitha opened #16 "Dynamic form support for images"
I have now implemented most of the dynamic forms which seem to be working well.
I had a look at the code and couldn't find support for images. Is it possible to add support to load a jpg or png file?

I want to create a form similar to this one
![image](https://user-images.githubusercontent.com/10569142/40871867-9dbcf41c-6676-11e8-87c3-b38cd0abeebb.png)

[2018-06-02 07:13] hashitha commented on #16
This is another example.
![image](https://user-images.githubusercontent.com/10569142/40871912-576702ea-6677-11e8-9965-41d7f1dc8adc.png)

[2018-06-02 07:41] hashitha opened #17 "Dynamic form support for columns and dividers"
Is it possible to add the divider in the dynamic form loading from a string?

![image](https://user-images.githubusercontent.com/10569142/40872089-00f97c2c-667b-11e8-8eae-8c58db3b36f3.png)

Also, is it possible to have columns like this image when loading from a string

![image](https://user-images.githubusercontent.com/10569142/40872112-4ced453c-667b-11e8-91cf-61a8f1a52a22.png)

[2018-06-02 07:47] EdonGashi commented on #17
Hey @hashitha , in loading from a string do you mean from XML? A horizontal divider is `<hr />` I think.
For the vertical divider it may work but only on situations like the picture above when the control is placed inline, that's because controls can decide their height but not width when displayed regularly (the width is decided from the column their placed in.

[2018-06-02 07:48] EdonGashi commented on #16
Shouldn't be hard, I'll do some quick experiments and I'll let you know

[2018-06-02 07:50] hashitha commented on #17
You are right <hr /> works. Where can I find a list of supported tags, I have been looking in the code but couldn't find it yet.

[2018-06-02 07:54] EdonGashi commented on #17
You can find it here https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms/FormBuilding/FormBuilder.cs#L289

It's quite limited now, for complex layouts we need to support some tags like `<row>` or similar. If you have dealt with XML you probably know better than me what is necessary, so feel free to pr.

[2018-06-02 07:54] hashitha commented on #17
I found the following in FormBuilder.cs

[code]

[2018-06-02 07:55] EdonGashi commented on #17
I will add an `<img>` element and `[Image]` attribute in a few min and we can write a demo for it.

[2018-06-02 08:04] hashitha commented on #17
Thanks, I will give it a try when you are done. Adding the `<row>` would work

so something like the following will make it all in one line

[code]

[2018-06-02 09:26] EdonGashi commented on #16
I pushed master

[code]

[code]

These are the requirements for src
- Value can be a string representing a path (I think even http works)
- Value can be an ImageSource, which is displayed as is
- Value can be a dynamic resource that resolves to a string or an ImageSource, if it's a string go to step 1, if it's an ImageSource go to step 2

I haven't tested it as an inline element to see how it look

[2018-06-02 09:29] EdonGashi commented on #16
Inline looks good!

![image](https://user-images.githubusercontent.com/12145268/40872977-22c4f598-6658-11e8-85d3-f1dafbdf180b.png)

[2018-06-02 10:09] hashitha commented on #16
It works well. Looks like we need to allow  <img width=... height=... align="left|center|right">

[2018-06-02 10:18] EdonGashi commented on #16
I was working on that. layout is crucial for images.

I added these attributes:

[code]

Defaults:
[code]

Note: if you need to make an image bigger you need to change direction

[2018-06-02 10:35] EdonGashi commented on #17
There are two kinds of "horizontal" layout, the one with captcha is an inline type, the other is with columns where you define a global grid for the form.

Grid type:
![image](https://user-images.githubusercontent.com/12145268/40873494-42b26db4-6661-11e8-916c-17ca826b64a9.png)

Inline type:
![image](https://user-images.githubusercontent.com/12145268/40873498-4feaa5be-6661-11e8-885b-1674949810e2.pn

[2018-06-02 12:00] hashitha commented on #17
I think we will need both inline type and columns.  Columns we can define once at start something like

[code]

[2018-06-02 12:01] hashitha commented on #17
or better yet maybe

[code]

[2018-06-02 12:12] hashitha commented on #16
This works well and it also works with an URL as an image source.

[2018-06-02 12:40] EdonGashi commented on #17
Youre right grid as an element would work great.
About inline i think a simple syntax should work:

[code]

This would make everything inside behave like a single item

[2018-06-02 12:43] hashitha commented on #17
Yes, this would be great. Also, It would be great if we can add support to override margins in this case at least left and right margins

[2018-06-02 17:44] EdonGashi commented on #17
Current layout system is flat and list based, where the DynamicForm is responsible for constructing the layout. This was designed with the list of class fields in mind, but it's terrible for richer custom layout and extensibility.

I built a new layout system which relieves the form from layout calculation and instead delegates it to whatever ILayout the current node implements. ILayouts can conta

[2018-06-02 19:28] EdonGashi commented on #17
New parser is live, we should test it for bugs. The features are as mentioned above.

One breaking change is that actions are no longer inlined, so you have to group them in a `<row>`. This change has been done in order to allow fully flexible and recursive layouts with any kind of element.

[2018-06-02 19:38] EdonGashi commented on #17
When I have more time I will recreate one of the pictures you sent as a demo. I think the new layout is capable of handling those columns. Side note, is there support for multi line text fields? Do you need those in your project?

[2018-06-03 00:18] hashitha commented on #17
Yes, I will need to support multiline for things like comments.
This is great and thanks for doing it so quickly. I will try to implement this and let you know. I haven't pushed the dynamic forms feature to production so and breaking changes are welcome.

[2018-06-03 00:56] hashitha commented on #17
I am currently working on one of the forms. I think something that is missing on the XML parsing is the dropdown list and radio buttons.

[2018-06-03 09:34] EdonGashi commented on #17
Select is done:

[code]

Take note of the `?` usage regarding enums and the `nullable` attribute. If your type is a nullable enum you will have options with a null included in the start. If you want to have nothing selected initially but you don't want a null option you use `nullable="true"`. Like in the YesNo example I want two radio buttons but none selected initially.

![image](https://user-ima

[2018-06-03 10:11] EdonGashi commented on #17
It's quite close! The material design makes it look a bit more spaced apart. If you are looking for something more serious you can use the default WPF theme or maybe metro. Not all controls are implemented there but we can adapt it in a short time.

![image](https://user-images.githubusercontent.com/12145268/40885462-a0476176-6726-11e8-862d-f6b8db4bba49.png)

[code]

One thing to note; you can onl

[2018-06-03 14:11] hashitha commented on #17
@EdonGashi this is great!

I have been using the material floating text boxes so it works fine.

I am not sure if there is an issue with the datetime control or I am doing something wrong. It is going out of alignment if you remove the icon.

[code]

![image](https://user-images.githubusercontent.com/10569142/40887385-b02a8556-677a-11e8-8673-934bca2db45b.png)

if you remove the icon i.e. `icon="ca

[2018-06-03 14:19] EdonGashi commented on #17
I am not 100% sure if I understand your problem.

If you add an icon to a control it will push it to the right. If you want to have your control pushed without an icon you can make its icon `icon="none"`. With this the space is reserved in order to align with controls that have icons.

[2018-06-03 14:21] EdonGashi commented on #17
Ah now I noticed the problem. Hmm it must be some margin misalignment. I have to check if the text field and calendar field have the same margins paddings etc.

[2018-06-03 15:14] hashitha commented on #17
Yes, it works well now.

I think you might have to change the margin to -2 from -1

[code]

[2018-06-03 19:27] EdonGashi commented on #17
Done, let's just hope that this offset is not a function of FontSize, because different fields may move differently on font size change and it would be a mess. Ensuring that invariance is up to MD toolkit. But anyway, if you encounter any other problem let me know.

[2018-06-04 02:18] hashitha commented on #17
This is all working well.

[2018-06-04 02:19] #16 closed

[2018-06-04 02:26] hashitha opened #18 "Dynamic form setting initial values"
Once we load the xml string and build the form can we load some initial values. e.g. Patient name and date of birth in this case.

`CompiledDefinition = FormBuilder.Default.GetDefinition(xmlString);`
Maybe the returned CompiledDefinition can have the ExpandoObject which we can modify and call something like `CompiledDefinition.Reload()`

[code]

[2018-06-04 03:00] hashitha commented on #17
Did you manage to add support for multi line textbox?

[2018-06-04 07:33] EdonGashi commented on #18
You mean for example have the name field prepopulated or something like that?

I'll write some possibilities to see if either of them can help you:

- When an action has `resets="true"`it resets fields to their `defaultValue`. Fields need to have a name if you want to reset them, otherwise we have no way of accessing the data.
[code]

- Inputs can have a defaultValue, for example `<input name="Fir

[2018-06-04 08:00] EdonGashi commented on #17
It's almost done, which style should we choose?

![image](https://user-images.githubusercontent.com/12145268/40905389-11aeeff2-67de-11e8-99b4-babc95623e80.png)

[2018-06-04 08:20] EdonGashi commented on #17
Done, I liked the box better so I made that the default. We can probably add a property to indicate which style should be used.

XML syntax is identitic to input, except you use textarea tag:

[code]

[2018-06-04 08:50] EdonGashi commented on #18
I pushed an update that will be helpful. You can now send a parameter to GetDefinition which specifies if you want to freeze the definition or not after it's built.

[code]

[2018-06-04 08:50] hashitha commented on #17
Thanks. Yes, box style is good. I will give this a go.

[2018-06-04 08:58] hashitha commented on #18
I will try the send a parameter to GetDefinition and `<input name="FirstName" defaultValue="{ContextBinding PatientName}" />` and get back to you

[2018-06-04 09:19] EdonGashi commented on #18
I think you have enough tools without relying on manipulating the form elements manually, as that might cause bugs. For example I modify my form definition to have a default value "Patient 123". but then I can't reuse my form because you have to construct a new form for "Patient 456".

I suggest you provide auxiliary data from your data viewmodel. That's why it's called (data)context (on which the

[2018-06-04 10:22] hashitha commented on #18
Almost all the dynamic forms that we load will share the same fields such as patient name, dob etc which we need to populate from the database to minimise data entry.

So I tried this code and it works well for us

[code]

[2018-06-04 10:41] hashitha commented on #18
Does this method work with all types? I just tried this with the <text> field and it doesn't seem to work.

[code]

[2018-06-04 10:45] EdonGashi commented on #18
Text is readonly, it does not support names. The binding auto updates if firstname changes. Does it not?

[2018-06-04 11:19] hashitha commented on #17
How do you set `SelectionType.ComboBoxEditable` in the select. Basically, I want to give the user the option to type the text if the value is not in the list

[code]

[2018-06-04 12:16] hashitha commented on #18
I tried this with no luck. Do I need to set datacontext or something like that

[code]

[2018-06-04 12:19] EdonGashi commented on #18
Can you try it like this:

[code]

where MyDataProvider is the object that has FirstName.

[2018-06-04 12:29] hashitha commented on #18
Just tried this and couln't get it to work

![image](https://user-images.githubusercontent.com/10569142/40917460-f1046bda-6835-11e8-8cc9-2b75a1b658c0.png)

[2018-06-04 12:30] EdonGashi commented on #18
Can you make sure that you are using `{ContextBinding FirstName}` instead of `{Binding FirstName}`?

[2018-06-04 12:32] hashitha commented on #18
Excellent! `{ContextBinding FirstName}` works

[2018-06-04 12:33] EdonGashi commented on #18
Great! I'm working on something cool with resources, it will be a new way to inject data into the view with fewer complications.

[2018-06-04 12:39] hashitha commented on #18
That is great. I will be creating more forms and do some more testing this week. Then I can give some sample forms to put on the wiki as examples.

[2018-06-04 12:54] EdonGashi commented on #18
JSON can now be viewed in XML demo route:

![image](https://user-images.githubusercontent.com/12145268/40918621-1b10f274-6807-11e8-922f-93bd63ffdfea.png)

This will make life easier to inspect and debug the model values

[2018-06-04 12:58] EdonGashi commented on #17
A warning, if you make the combobox editable it will disregard option values. It will give provide the textual value as is.

For example, in this demo:

[code]

when I select a value and serialize it to json I get this:

[code]

[2018-06-04 16:09] hashitha commented on #18
The context works fine. Will let you know if I run into any issues

[2018-06-09 06:27] EdonGashi commented on #9
Hey, yeah we have exactly that, there is a demo item with dialogs for reference.

Syntax is like this `Show.Dialog().For<Login>()` plus overloads. Show.Dialog and Window accept additional settings related to the hosting component.

[2018-06-09 06:29] EdonGashi commented on #9
Here is the code https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms.Demo/Models/Dialogs.cs

[2018-06-09 06:37] hashitha commented on #9
@EdonGashi thanks will give this ago. I sent you a message from your website.

[2018-06-09 06:40] EdonGashi commented on #9
Just saw it, ill respond in email. I'll also send you a slack invite of the project chat

[2018-06-09 12:12] hashitha opened #19 "Support for collections"
Are collections supported?

Something like this
[code]

[2018-06-09 13:43] EdonGashi commented on #19
cc @redbaty

It turns out that implementing collections is much harder than it initially seems. Some problems that we needed to consider when allowing crud were:

- Tracking list count and item addition, removal, insertion - without ObservableCollection it's much harder.
- Transactional updates - you can "commit" an item once you hit the add/save button, but the fields update as you type, thus you

[2018-06-09 13:47] hashitha commented on #19
I am only looking for a very simple way to populate the combo box using a string like `List<string>`. The items in this list won't be changed after constructing it. Basically, needs to load some values from a database for selection which is only done once at the object creation.

[2018-06-09 13:51] EdonGashi commented on #19
Would this help you?

[code]

[2018-06-11 13:32] hashitha opened #21 "Field visibility binding"
I have the following field and I would like to make the text only visible if the checkbox is ticked. Can I bind the visibility?

![image](https://user-images.githubusercontent.com/10569142/41234459-cf4d1af8-6dbe-11e8-8bde-b7fd2ec9dca7.png)

[code]

[2018-06-11 13:39] EdonGashi commented on #21
This should do it:

[code]

the view jumps a little when you toggle it though, we should probably support a minHeight for row elements.

[2018-06-11 13:40] EdonGashi commented on #21
Or maybe add a hiddenMode="hidden|collapsed" if we want it to be hidden instead of collapse

[2018-06-11 13:42] hashitha commented on #21
What does the hiddenmode do?

[2018-06-11 13:44] hashitha opened #22 "Printing a form"
Is it possible to print a form?

[2018-06-11 13:44] EdonGashi commented on #21
It's not yet implemented but I just suggested an idea how to fix the jumping because of the size change. In WPF you have two modes of "non-visible", hidden and collapsed. hidden takes up space while collapsed does not affect layout. In this case we need to reserve the height for the text input.

Currently we only have `visible=true|false` where true=visible and false=collapsed.

[2018-06-11 13:52] redbaty commented on #22
Hmm I dont think this is strictly related to forge.forms, maybe search for something related to wpf itself? I'll check it out later

[2018-06-11 13:54] hashitha commented on #21
If you can fix the jumping issues with `hiddenMode="hidden|collapsed"` that would be the easiest option. Otherwise we have to set min-height for all the controls

[2018-06-11 13:56] EdonGashi commented on #21
Yep it's better because if the font size changes so does min-height, plus you can't eyeball the exact height. I'll work on this. I'll post details of the final api. It will be a boolean but it's hard to find a suitable name, `reservesSpaceOnHidden`, `hides`, hidden instead of collapse...? I'm open to suggestions 😆

[2018-06-11 13:59] hashitha commented on #21
Naming is the hardest thing in coding :D `reservesSpaceOnHidden` would work I guess

[2018-06-11 14:09] EdonGashi commented on #22
Check XML examples route in demo. I followed [this article](https://www.c-sharpcorner.com/UploadFile/mahesh/printing-a-control-in-wpf-using-C-Sharp/).

![image](https://user-images.githubusercontent.com/12145268/41236509-9baf0148-6d91-11e8-887f-f851744319bd.png)

You probably need to fiddle with the settings but it's definitely possible. You could also add an Env flag `print` or something, such th

[2018-06-11 14:12] hashitha commented on #22
Thanks! @EdonGashi  I will give this a try

[2018-06-11 14:19] #15 closed

[2018-06-11 14:19] #19 closed

[2018-06-11 14:19] #18 closed

[2018-06-11 14:21] #17 closed

[2018-06-11 15:39] hashitha commented on #22
This works well

[2018-06-11 15:39] #22 closed

[2018-06-11 15:44] hashitha opened #23 "Check all binding"
I have the following form with a lot of checkboxes. Is there any way to bind one checkbox to all the others. The reason for this is to quickly tick all the checkboxes instead of going one by one.

[code]

See this images. If I tick the "Head" then everything in the head category should tick
![image](https://user-images.githubusercontent.com/10569142/41241995-f968f778-6dd0-11e8-8df1-43009fcfac7f.pn

[2018-06-11 16:43] EdonGashi commented on #23
This is quite useful, but I cannot think of a straightforward way to do this declaratively.

The dynamic object that holds the values implements `INotifyPropertyChanged`, which you could use to listen to property changes, and do your side effects when a specific value changes.

[code]

One could create some  abstractions around this if we could have a way to attach metadata to properties.
For exam

[2018-06-11 22:15] hashitha commented on #23
If you can implement `<input type="bool" data-sets="Property1,Property2,Property3" />` this would work I think.

Maybe another way would be to bind the value of all the checkboxes to the main checkbox. Do you think this will work?

[2018-06-12 12:45] EdonGashi commented on #21
Super quick solution (this could have been done from outside the library also)

[code]

[2018-06-12 12:46] EdonGashi commented on #21
To register custom value converters:

[code]

Which you can then use inside binding expressions.

[2018-06-12 12:53] EdonGashi commented on #23
In a wpf binding there is the binding source and binding target. Binding source is always the model property, and we cannot change that, otherwise we could no longer read values from the model (when serializing to json etc).

In a WPF class form side effects could be done easily:

[code]

In XML we have no way of executing side effects, unless we allow embedding javascript or cs roslyn scripts ins

[2018-06-12 14:08] EdonGashi commented on #21
Boolean expressions now support converters by trailing |Converter

This will convert the final result of the evaluated expression

[code]

[2018-06-13 12:34] EdonGashi commented on #23
Feature is done, usages:

XML:
[code]
Accessing data:
[code]

Class/prop decoration:
[code]

Accessing metadata is same from both xml and code-first.

[2018-06-13 12:36] EdonGashi commented on #23
Unrelated note, the row wrappers here are not necessary:

[code]

you can simplify it like this:

[code]

This will save some unnecessary ActionPanels from being created.

[2018-06-24 06:28] hashitha commented on #23
@EdonGashi sorry I don't understand how to use this. Can you please give an example. I only need one checkbox ticking all other checkboxes

[2018-06-24 22:57] EdonGashi commented on #23
Behaviors feature is done, well mostly done:

- `DynamicForm` class supports following methods: `DynamicForm.AddBehavior(object behavior)` and `DynamicForm.RemoveBehavior(object behavior)`
- As you can see above, behaviors are only applied at class/global level
- Instance level (per form control) behaviors can be done if they are needed
- A behavior to be useful should implement `IPropertyChangedB

[2018-06-24 23:07] EdonGashi commented on #21
Closing this if it's resolved.  Writing `&amp;&amp;` for logical and looks annoying. We will probably add support for `add` `or` `not` as alternative tokens.

[2018-06-24 23:07] #21 closed

[2018-06-24 23:16] EdonGashi commented on #23
Also I forgot, be careful when setting properties and reacting to their changes, as you might cause an infinite loop.

[2018-08-21 19:50] edongashi opened #24 "NuGet is live"
I had a ton of errors while attempting to publish/setup CI for the new PackageReference format. I reverted to packages.config and Forge.Forms is now live on Nuget. If anyone encounters any issue while installing, please let me know. Thanks.

[2018-10-10 11:15] hashitha opened #25 "Dynamic form setting initial check boxes"
There is an issue where the UpdateDefaultValue doesn't update the checkboxes. This was implemented in #18

e.g. if you try to load the following json object by using

[code]

by using a code like this

[code]

it updates all fields except the checkboxes

![image](https://user-images.githubusercontent.com/10569142/46732701-cecb0980-ccc0-11e8-9524-461f174c09c1.png)

[2018-10-10 15:11] edongashi commented on #25
I see the problem, I'm looking into it.

[2018-10-10 15:32] edongashi commented on #25
What's weird is that the value is being written... if I serialize the dynamo to JSON after resetting I get a `true` value... I think this has something to do with the checkbox binding

[2018-10-10 15:41] edongashi commented on #25
Ah, found it!

[code]

`property.Value` is not a literal value (bool, string, etc). It is actually a `JToken`, which happens to be a `JValue`

This is how you can fix it:

[code]

Otherwise you are writing the `JValue` to the expando. The strings working is just a coincidence because it was calling `.ToString()` for the object.

[2018-10-10 16:07] hashitha commented on #25
@edongashi this is great! it is working now. Thanks for your help!

[2018-10-10 16:07] #25 closed

[2018-10-11 10:18] hashitha opened #26 "Extra data for checkboxes"
Is there any way we can attach extra details for checkboxes so we can retrieve these in the JSON data.

something like this
[code]

then the final JSON object would look like the following if the checkbox is ticked
[code]

[2018-10-12 02:20] hashitha commented on #26
I can't get this to work.

This is my current code to convert to JSON

[code]

if I change this to something like this then I get error field.Metadata is not defined. It doesn't look like FormElement has a Metadata property
[code]

[2018-10-12 02:41] wobbince commented on #26
Have you added the below attributes to the XML?

[code]
[code]

[2018-10-12 02:52] hashitha commented on #26
Yes, but I am getting a compile error

![image](https://user-images.githubusercontent.com/10569142/46845131-aea86100-ce0c-11e8-8967-8310584ad4c6.png)

Doesn't look like FormElement has Metadata field
![image](https://user-images.githubusercontent.com/10569142/46845155-c5e74e80-ce0c-11e8-933c-a98da37042f8.png)

[2018-10-12 07:46] edongashi commented on #26
Maybe you have an outdated version, are you using the NuGet build?

[2018-10-14 04:09] hashitha commented on #26
Thanks, @edongashi I got it working now. I was using an outdated version. I can't use the NuGet build because of anything above version 2.2.0 of Humanizer.Core breaks our UI for some reason. So I had to change that version in Forge and build.

[2018-10-14 04:09] #26 closed

[2018-10-14 07:46] edongashi commented on #26
Thanks for the info, do you have any idea why humanizer is causing problems?

[2018-10-15 11:31] hashitha opened #27 "Horizontal radiobuttons"
Is it possible to have the radio buttons layed out horizontally

the following code would put the buttons one under the other
[code]

![image](https://user-images.githubusercontent.com/10569142/46948465-c9026900-d0b0-11e8-99e9-b71ca750b810.png)

[2018-10-15 23:33] edongashi commented on #23
Did you get this working? I had updated the behavior to be much better. You can find it in the demo [here](https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms.Demo/Behaviors/CheckAllBehavior.cs). It handles mixed state and two way events (parent-child).

Just run the demo and type this:

[code]

[2018-10-15 23:33] #23 closed

[2018-10-15 23:36] edongashi commented on #23
@hashitha also what could be improved here: when serializing, you can check if the field is just an "all" setter, which you can ignore when serializing json.

[code]

because otherwise we get this:

[code]

depending if you need the `"all"` flag in your json or not.

[2018-10-15 23:38] #14 closed

[2018-10-15 23:39] #24 closed

[2018-10-16 03:49] hashitha commented on #27
Thanks this is working great!

[2018-10-16 03:49] #27 closed

[2018-10-16 10:53] hashitha opened #28 "Visibility based on radio buttons"
In the following case, is there any way we can make the textview visible only if we select the first option

[code]

[2018-10-16 11:03] hashitha commented on #28
maybe we can base the visibility on the selected index?

[2018-10-16 11:07] edongashi commented on #28
`textarea isvisible="{Binding CalculateDates|???}"`

I have to think about the converter part. It's unfortunate that binding expressions dont support converter arguments. Maybe we should add that to the grammar.

Something like
`{Binding CalculateDates|IsEqual('LMP')}`

[2018-10-16 12:16] hashitha commented on #28
I think `{Binding CalculateDates|IsEqual('LMP')}` will work well

[2018-10-18 16:00] hashitha opened #29 "Calculated values"
Is there any way we can fill in calculated values

e.g. when the user enters the due date (EDD) weeks and days fields are filled in automatically with calculated values

![image](https://user-images.githubusercontent.com/10569142/47167745-c95d6700-d331-11e8-9db4-9d2b0aabe1b4.png)

[2018-10-18 16:12] edongashi commented on #29
You have to write your custom behaviors for this. There is an example with selectAll in the demo.

For example

[code]

You havw to write a behavior so that whenever this property changes the others will change accordingly. I can write this for you but I won't be available until the weekend.

[2018-10-18 16:14] hashitha commented on #29
Thanks I will check this out

[2018-10-18 16:53] edongashi commented on #29
This is a quick and untested draft of this behavior:

[code]

note that I did not compute the days and weeks, that is up to the logic you need to implement

[2018-10-18 16:55] edongashi commented on #29
Forgot to mention, you need to register this behavior in your form.

[2018-10-19 11:17] wobbince commented on #29
@hashitha - I've updated the code samples to code that has been tested and works.

//cc @edongashi

[2018-10-19 14:44] hashitha commented on #29
Thanks @edongashi and @wobbince. I will check this out.

[2018-10-19 16:08] hashitha commented on #29
I have tested this and it works great. This is going to be great, we can write behaviours for so many things

[2018-10-19 16:08] #29 closed

[2018-10-20 08:44] edongashi commented on #28
Anywhere that you have a bool you can create custom expressions like that one, so this already works. We only need to implement converter parameters for better reusability.

[2018-10-22 18:19] edongashi commented on #28
Converters can now have a parameter using the following syntax:

[code]

The `IsEqual` is just a demonstration. You can create custom factories and register them in `Resource.ValueConverterFactories`. You cannot have a dynamic value in converters.

 **Note** This is not `Binding.ConverterParameter` that is passed to `IValueConverter.Convert`. It was too messy and too late to implement it. Instead,

[2018-10-23 02:54] hashitha commented on #28
I have tested this and it works well on Textview and datetime but I can't get this to work on `<text>` field

[2018-10-23 08:15] edongashi commented on #28
`text visible="false"` does not seem to work. I will see what's wrong

[2018-10-23 09:41] hashitha commented on #28
It is the same with Heading tag

[2018-10-23 11:11] edongashi commented on #28
fixed in 42e23e238e9c909baa8d6a48f10cff9897dc9daa for all non-input elements

[2018-10-24 01:19] hashitha commented on #28
This is working well now

[2018-10-24 01:19] #28 closed

[2018-10-31 22:25] edongashi opened #31 "Better localization support in converted fields"
This feature had been started in a branch and has been forgotten. We need better support for conversion to/from strings for converted fields (numeric, date).

[2018-10-31 22:32] edongashi commented on #4
Closing for now due to the massive scale of this feature.

[2018-10-31 22:32] #4 closed

[2018-10-31 22:32] #9 closed

[2018-11-14 14:42] hashitha opened #32 "MaterialDesignTextAreaTextBox has changed"
Looks like `MaterialDesignTextAreaTextBox `has been changed to `MaterialDesignOutlinedTextFieldTextBox` in the latest version of MaterialDesignThemes. This is used in https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms/Themes/Material/Field.MultiLineString.xaml

[2018-11-14 14:44] edongashi commented on #32
Did this change make forge.forms incompatible with latest mdinxaml?

[2018-11-14 15:08] hashitha commented on #32
Sorry, I am not sure what mdinxaml is.

all I did was build the latest forge code and update our project MaterialDesignThemes to latest version 2.5.0.1205 and it was incompatible. So I changed the Field.MultiLineString.xaml and it worked

[2018-11-14 17:48] edongashi commented on #32
I see, should we update dependencies and that resource reference?

[2018-11-17 00:32] edongashi commented on #32
I am having trouble reproducing this. I updated to latest MDIX but I'm still getting errors when I try to reference `MaterialDesignOutlinedTextFieldTextBox`

[2019-01-09 22:00] #6 closed

[2019-01-19 13:52] edongashi opened #34 "Features for next major version"
- Remove dependency on Material Design in XAML and Mahapps.Metro. Create respective packages `Forge.Forms.Material` and `Forge.Forms.Metro`. This means that `Show.Dialog` and `Show.Window` and other utilities won't be part of the core library.
- Target .NET Core 3 WPF - no idea yet how this will work.
- Remove humanizer dependency - handle sentence parser manually.
- Create abstract Form DOM. This

[2019-01-22 18:39] redbaty commented on #34
.NET Core 3 port available at https://github.com/WPF-Forge/Forge.Forms/tree/net3

[2019-01-23 17:06] edongashi commented on #34
Is it possible to reference .NET framework dependencies (for example NuGet) from a .NET core 3 WPF app?

[2019-01-23 17:07] redbaty commented on #34
Yup, it uses wichever version is available for .NET 4.6.1 or beyond, just like .NET Core

[2019-01-23 17:16] edongashi commented on #34
That certainly makes migration easier. We will see how it plays out once it's released. By then we will probably get rid of all dependencies from core library anyway.

[2019-03-27 18:56] Mrxx99 opened #35 "In Demo Examples opening a window dialog causes exception"
When clicking a button to show a dialog window I get an exception that MahApps.Metro or one of it's dependencies was not found (HRESULT: 0x80131040: The located assembly's manifest definition does not match the assembly reference).

Steps to reproduce:
- Start Demo Application
- Go to Examples
- Go To Dialogs
- Under "Windows" click any of the buttons.

[2019-03-29 14:53] edongashi commented on #35
Hi @Mrxx99, thanks for the report.

I am aware of that. It's because of version mismatches in `Mahapps.Metro`. I'm unable to update the  Material.Application framework because I don't have publish rights to the NuGet package. I will try to gain access and hopefully it will be resolved (cc @redbaty). However, this should not be a problem for apps outside of the demo.

It has always been a pain deal

[2019-03-29 14:57] redbaty commented on #35
The newly added PackageReference (since csproj 2017) is actually getting pretty good at resolving these type of stuff!

Anyway I'll updates dependencies on the Forge.Application soon (Prob tonight)

[2019-03-29 16:00] edongashi commented on #35
@redbaty please do so if you can. The demo still references `Material.Application`, so an easy fix would be updating that; otherwise we should migrate to `Forge.Application`.

[2019-03-30 19:42] #35 closed

[2019-08-01 12:41] skadefro opened #38 "Window(options) not working from minimized window"
I'm trying to use your excellent product from within microsoft workflow foundation.
I've created an activity that launches a window using a dynamic form.
In normal operation I will minimize the UI when a workflow is running, so when a dialog, message box or window is opened you will need to force it to have focus. You can do that with window.Focus() or window.BringToFront()
But for some reason, us

[2019-08-01 19:44] skadefro opened #39 "DynamicForm not showing validation messages"
I got inspired by your example application and embedded a side by side showing XML and the form, using DynamicForm, but it doesn't not show the message from validate when validation fails.
Did I missing something obviuse or is that just not supported in DynamicForm ?
![image](https://user-images.githubusercontent.com/4155937/62322241-e61ff100-b4a4-11e9-878f-2d497eee9f94.png)

[2019-08-04 23:14] edongashi commented on #39
Hi @skadefro.

You aren't doing anything wrong. Looks like you are using the default WPF template. It's a little neglected and the UX may not be ideal. The default WPF textbox error template has no error messages by default. [Here](http://www.skimedic.com/blog/post/2009/07/15/IDataErrorInfo-Error-Templates-and-WPF.aspx) is an article that touches upon error templates.

You can customize the theme

[2019-08-04 23:34] edongashi commented on #38
@skadefro I tried to fix the window activation in ae56fd894f9df6c9f493735639ccdbf8f6edf0fa but it still decides to ignore the popup under some conditions. Could you please test it in your environment and let me know if you can figure anything out?

The scroller currently works only in XML. If you wrap your content in a `<layout maxWidth="...">` it will display a vertical scrollbar if the content e

[2019-08-05 06:15] skadefro commented on #38
The update worked :-)
A little weird ux thing, the window does not have focus, but the cursor is blinking in the first textbox.
( look how the cursor is blinking inside both windows, and textpad is receiving input )
![Untitled](https://user-images.githubusercontent.com/4155937/62442699-f6f88d00-b758-11e9-99f7-824def5f130b.gif)

[2019-08-05 06:30] skadefro commented on #39
Thank you very much for a good explanation. I will start by using a theme and then later see if creating custom controltemplates is better for my use.

[2019-08-05 06:30] #39 closed

[2019-08-05 11:47] edongashi commented on #38
Thanks for the help. Looks like the window is getting logical focus but not keyboard focus. I'll try playing with `Keyboard.Focus(...)` later.

[2019-09-17 12:16] edongashi commented on #38
Hey @skadefro. Sorry for getting back so late. I added `Keyboard.Focus(window)` but I'm not sure if this will fix the issue. I tested by setting delayed dialogs but I can type right away with or without that line of code. If you can please try it and see if it works better now. Thank you.

[2019-09-17 12:17] edongashi commented on #38
If possible try it with an XML form and then a class form and see if the behavior is the same for both cases. If not then it's possible that the initial focus thing is not working for XML.

[2019-09-17 12:23] #32 closed

[2019-09-17 12:23] #5 closed

[2019-09-17 12:24] #13 closed

[2019-12-14 10:06] skadefro commented on #38
I think we can close this, i have a working solution, without using Forge.Forms.Show.Window.
Let me know if you make any changes to Window, then I'll gladly try it again

[2019-12-14 10:06] #38 closed

[2020-10-20 20:21] diegosiao opened #44 "Form not building multiple columns"
According the documentation this code below should render 2 inputs side by side.. that is not happening...

[code]

They are not rendered at all...

[2020-10-20 21:01] edongashi commented on #44
Hi @diegosiao! Maybe you need to define the grid first for your form like in this example https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms.Demo/Models/DataTypes.cs#L7

Could you please test if this fixes your problem?

[2020-10-20 21:18] edongashi commented on #44
I think you may be using default WPF theme, which does not appear to offer a control for `DateTime`. The solution would be implementing a theme for it, or using Metro/Material.

[2020-10-21 00:20] diegosiao commented on #44
Hi @edongashi! Worked like a charm! Thanks!

Can I ask you if I can find in examples something using a select with dynamic options?

[2020-10-21 07:19] edongashi commented on #44
I found the following examples related to selection:

- [Selection.cs](https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms.Demo/Models/Selection.cs)
- [FoodSelection.cs](https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.Forms/src/Forge.Forms.Demo/Models/FoodSelection.cs)
- [SelectionMemberPaths.cs](https://github.com/WPF-Forge/Forge.Forms/blob/master/Forge.For

[2020-10-21 11:33] diegosiao commented on #44
Thanks once again @edongashi!
I am delivering an app 10x faster because of this awesome library!
Closing the issue...

[2020-10-21 11:33] #44 closed

[2020-10-21 12:23] edongashi commented on #44
Happy to hear that! Hopefully in the future we can rework it so people aren't forced to use themes if they don't want to.

[2021-03-14 10:43] KrisJanssen opened #49 "Include examples of how to send form data to e.g. back-ends"
Hi guys,

Forge seems to be a very nice and potentially useful project. The fact that the demo apps are included to not only demonstrate Forms but also the application piece (e.g. the routing) is nice.

However, coming from creating monolithic WinForms based applications, I struggle to infer how I would achieve something like adopting the codebase to e.g. do CRUD operations on any kind of storage

[2021-03-14 19:38] edongashi commented on #49
Hi @KrisJanssen!

I'm glad you found it useful. Though the application "framework" is not something I'd use in production as a dependency because it's stiff and opinionated. As you have noticed, it relies on a DI engine like NInject and other stuff, which is a bad design smell. Instead, I'd take some parts I like and simply add organize those in my project and fit them as needed.

Sadly the same g

[2021-08-19 07:43] skadefro opened #50 "Select/combobox"
Hey
I'm trying to create a combobox/select from a list, not a hardcoded list of options.
Is that possible ?
I have look at [FormBuilder](https://github.com/WPF-Forge/Forge.Forms/blob/2a60f4ecd7b146ea6eca61036b0aa1f262cb37d6/Forge.Forms/src/Forge.Forms/FormBuilding/FormBuilder.cs#L405) and looks it should support setting the list using the "from" property.
I tried with array of string, array of For

[2021-08-19 08:09] edongashi commented on #50
Hi @skadefro.

The `From` property can be bound to a collection of items. The XML you posted should work, under the assumption that there's a non-null `Doctors` property in your `Form.Context`.

If you want to access things from the model itself, use `{Binding}`, example `{Binding Doctors}` or `{Binding defaults.Doctors}`.

[2021-08-19 08:13] skadefro commented on #50
Ahh, `Binding Doctors` worked :-) thank you very much for a fast, informative and precise response.

[2021-08-19 08:13] #50 closed, assigned to nobody